/* Nico Murray */
html{
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
  background-color: #C7B6BD;
}

nav{
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.header1{
text-align: center;
}
body{
  text-align: center;
  margin: 30px 50px;
  line-height: 1.4;
  border-style: dotted;
  padding-left: 10px;
}
.container{
  display: flex;
  align-items: center;
}
img{
  box-shadow: black;
}
